.back-button {
    display: flex;
    align-items: center;
    width: 120px;
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #AAAAAA;
    background-color: #fff;
    box-shadow: 2px 2px 2px #aaaaaa;
    transition-duration: 0.4s;
    cursor: pointer;
}

.left-arrow {
    margin-right: 5px;
}

.border-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 300px;
}

.detail-img {
    width: 100%;
}

.detail-img > img {
    width: 100%;
    max-width: 475px;
}

.sec-btn {
    padding: 0.7rem 1.3rem;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    text-decoration: none;
    color: #AAAAAA;
    background-color: #fff;
    box-shadow: 1px 1px 1px #aaaaaa;
    transition-duration: 0.4s;
    cursor: pointer;
}

.country-info-secondary, .other-info {
    margin-top: 3rem;
}
  
@media (min-width: 735px) {
    /* .detail-container {
        display: flex;
        gap: 2rem;
    } */
    
    .country-info {
        display: flex;
        gap: 2rem;
    }

    .country-info-secondary, .other-info {
      margin-top: 1rem;
    }
}